<%= form_with(model: [:backoffice, quality]) do |form| %>
  <% if quality.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quality.errors.count, "error") %> prohibited this quality from being saved:</h2>

      <ul>
        <% quality.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input is-horizontal" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :antithesis, class: "label" %>
    <div class="control">
      <%= form.text_field :antithesis, class: "input is-horizontal" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :thesis, class: "label" %>
    <div class="control">
      <%= form.text_field :thesis, class: "input is-horizontal" %>
    </div>
  </div>

  <div class="control">
    <%= form.submit class: "button is-link is-normal" %>
  </div>
<% end %>
