<div id="<%= dom_id dimension %>">
  <%= turbo_frame_tag :dimesion do %>
    <p><%= dimension.quality_name %></p>
    <div>
      <span class="tag is-link"><%= quality.antithesis%></span>
      <progress class="progress" value="<%= dimesion.value %>" min="0" max="10"><%= dimesion.value %></progress>
      <span class="tag is-primary"><%= quality.thesis %></span>
    </div>
  <% end %>
</div>
