<%= form_with(model: [:backoffice, dimension]) do |form| %>
  <% if dimension.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dimension.errors.count, "error") %> prohibited this dimension from being saved:</h2>

      <ul>
        <% dimension.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <span class="tag is-pulled-right"><%= dimension.quality.antithesis %></span>
    </div>
    <div class="column">
        <%= form.number_field :value, class: "input is-horizontal" %>
    </div>
    <div class="column">
      <span class="tag"><%= dimension.quality.thesis %></span>
    </div>
  </div>

  <div class="control">
    <%= form.submit class: "button is-link is-outline" %>
  </div>
<% end %>
