<%= turbo_frame_tag :dimension do %>
  <%= render @dimension %>
<% end %>

<div>
  <%= link_to "Edit this dimension", edit_backoffice_dimension_path(@dimension) %> |
  <%= link_to "Back to dimensions", backoffice_dimensions_path %>

  <%= button_to "Destroy this dimension", [:backoffice, @dimension], method: :delete %>
</div>
