<%= form_with(model: [:backoffice, font]) do |form| %>
  <% if font.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(font.errors.count, "error") %> prohibited this font from being saved:</h2>

      <ul>
        <% font.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input is-horizontal" %>
    </div>
  </div>

  <div class="control">
    <%= form.submit class: "button is-link is-normal" %>
  </div>
<% end %>
