<p style="color: green"><%= notice %></p>

<%= render @font %>

<div>
  <%= link_to "Edit this font", edit_backoffice_font_path(@font) %> |
  <%= link_to "Back to fonts", backoffice_fonts_path %>

  <%= button_to "Destroy this font", [:backoffice, @font], method: :delete %>
</div>
