<!DOCTYPE html>
<html>
  <head>
    <title>ChilaDesign</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "navbar" %>
    <section class="section main">
      <%= render "notifications" %>
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p class="content">chila.design 2022</p>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/789ecfbec5.js" crossorigin="anonymous"></script>
  </body>
</html>
